__pycache__/
*.py[cod]
.pytest_cache/
.coverage
.venv/
build/
*.egg-info/
ros2_ws/build/
ros2_ws/install/
ros2_ws/log/
*.bag
*.db3
*.engine
*.onnx
*.pt
*.pth
*.pcd
*.ply
!projects/05_ros2_3dgs/sample_gaussians.ply
data/private/
